.botoes {
    position: relative;
    bottom: 3153px;
}



main {
    width: 940px;
    margin: 0 auto;
}

form {
    position: relative;
    margin: 40px 0;
    top: 236px;
    right: 41%;
}

form label,
form legend {
    display: block;
    font-size: 26px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 35%;
    font-size: 19px;
    border: 3px solid black;

}

.checkbox {
    margin-right: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: rgb(2, 133, 185);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(15, 149, 211);
    transform: scale(1.2);
    transform: rotate(1deg);
}

.required:after {
    content: " *";
    color: red;
}

#faça-login {
    color: rgb(0, 0, 0);
    font-family: emoji;
    position: relative;
    left: 0%;
    bottom: 1px;
    font-size: 33px;
}

#fundo-login {
    background: linear-gradient(#0c398db0, #2158a0, #2d9ce6d1);
    background-repeat: no-repeat;
    height: 921px;
}

#fundo-geral {
    background: linear-gradient(#0c398db0, #2158a0, #2d9ce6d1);
    background-repeat: no-repeat;
    height: 929px;
}

#fundo-desenvolvedor {
    background: linear-gradient(#0c398db0, #2158a0, #2d9ce6d1);
    background-repeat: no-repeat;
    height: 929px;
}

#fundo-cliente {
    background: linear-gradient(#0c398db0, #2158a0, #2d9ce6d1);
    background-repeat: no-repeat;
    height: 929px;
}

#h1-login {
    position: relative;
    top: 31%;
    font-size: 48px;
    left: 36%;
    width: 25%;
}

#h1-desenvol {
    position: relative;
    top: 31%;
    font-size: 48px;
    left: 36%;
    width: 34%;
}

#h1-cliente {
    position: relative;
    top: 31%;
    font-size: 48px;
    left: 36%;
    width: 34%;
}

#h1-geral {
    position: relative;
    top: 31%;
    font-size: 48px;
    left: 36%;
    width: 34%;
}

.p-recuperar {
    position: relative;
    font-size: 20px;
}

#senha {
    position: relative;
    color: black;
}

#criar {
    position: relative;
    color: black;
}